.background {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.452);
    width: 100%;
    height: 100%;
}

.itemDeckConfigContainer {
    background-color: white;
    width: 44em;
    height: 20em;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 1em;
}

.itemConfigClose {
    position: absolute;
    right: 1em;
}

.itemConfigDetails {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    margin: .5em 1.5em;
}

.itemConfigDetails input {
    padding: .6em;
}

.itemDetailsButton {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.itemDetailsButton button {
    padding: .3em .5em;
    font-size: .7em;
    font-weight: bold;
    width: 13em;
    background-color: transparent;
    border: solid .1em;
    border-radius: .3em;
    transition: .4s;
    cursor: pointer;
}

.itemDetailsButton button:hover {
    background-color: rgb(189, 189, 189);
}