.appContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    grid-template-areas: 'nav details main';
}

.nav {
    grid-area: nav;
}

.details {
    grid-area: details;
}

.main {
    grid-area: main;
}